
/*==========================================*/
/* Страница с событиями */
/*==========================================*/
.overflow_events_kry{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 223px;
	left: 0;
	z-index: 1000;
	background: rgba(32,74,137,.5);
}

.header_overflow{
	display: none;
	position: absolute;
	width: 100%;
	height: calc(100% + 1px);
	top: 0px;
	left: 0;
	z-index: 1001;
	background: rgba(32,74,137,.5);
}

.filter_items_wrapp{
	position: relative;
	display: table;
	padding: 15px 0;
}

.filter_items_wrapp hr {
    position: absolute;
    bottom: -24px;
    height: 1px;
    background-color: #e8ecf3;
    width: 100000px;
    right: -2000px;
}

.filter_item{
	position: relative;
	float: left;
	margin-right: 10px;
	border-radius: 2px;
	color: #959595;
	border: 1px solid #204a89;
}

.filter_item > span{
	display: block;
	cursor: pointer;
	width: 100%;
	padding: 8px 19px;
	font-size: 14px;
}

.filter_item img{
	cursor: pointer;
	position: absolute;
	display: none;
	width: 11px;
	height: 11px;
	right: 15px;
    	top: 14px;
    	z-index: 10;
}

.active_filter{
	color: #fff;
	background: #204a89;
	padding-right: 27px;
}

.active_filter img{
	display: block;
}

.filter_item_chosen_block{
	display: none;
	position: absolute;
    min-width: 200px;
	left: -1px;
    margin-top: 15px;
    padding-top: 20px;
    background: #fff;
    z-index: 1005;
	border-top: 1px solid #e8ecf3;
}
.page-template-search-companies .filter_item_chosen_block{
	margin-top: 10px;
}
.user-block__content .filter_item{
	border: none;
}
.user-block__content .filter_chosen_item{
	padding: 0;
	margin: 0;
	margin-right: 20px;
	width: auto;
}
.user-block__content .filter_chosen_item label{
	margin-top: 2px;
}

/* Стилизация чекбокса */
.filter_chosen_item span input[type="checkbox"]{
	display: none;
}
.filter_chosen_item{
	float: left;
	width: 100%;
	padding-left: 20px;
	margin-bottom: 10px;
}
.filter_chosen_item span {
	display: block;
	float:left;
	cursor: pointer;
	width: 17px;
    height: 17px;
	padding: 9px;
	margin-right:10px;
	border: 1px solid #8c8c8c;
	border-radius: 3px;
}

.filter_chosen_item:hover span{
	border: 1px solid #204a89;
}

.filter_chosen_item span{
	content: "\2713";
	color: #204a89;
}

.filter_chosen_item label{
	float: left;
	color: #000000;
	font-size: 13px;
	text-align: left;
}

.check_active span{
	background-position: 0 -40px;
}

.check_active span:before{
	position: relative;
	content: "\2713";
    color: #204a89;
    top: -13px;
    left: -5px;
    font-size: 17px;
}

.check_active label{
	color: #404040!important;
}

.filter_item.types .filter_chosen_item span, .filter_item.reg_status .filter_chosen_item span {
    width: 22px!important;
    height: 22px!important;
    padding: 0;
    position: relative;
    top: 1px;
    border-radius: 50%;    
}

.filter_item.types .check_active span, .filter_item.reg_status .check_active span{
	background: #204a89;
	border: 1px solid #204a89;
}

.filter_item.types .check_active span:before {
    position: relative;
    content: "";
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background: #fff;
    display: block;
    border-radius: 50%;
}

.service_name, .stuff_name{
	font-size: 13px;
	font-weight: 400;
}
/* конец */

.filter_item.reg_status .check_active span:before {
    position: relative;
    content: "";
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background: #fff;
    display: block;
    border-radius: 50%;
}

.filter_item.reg_status .filter_item_chosen_block {
    min-width: 300px;
}

.filter_item.reg_status .filter_chosen_item label {
    width: 229px;
}

.confirm_chose{
	float: left;
	cursor: pointer;
	color: #204a89;
	padding-top: 12px;
	padding-bottom: 8px;
	border-top: 1px solid #e8ecf3;
	text-align: left;
	padding: 3px 0 7px 20px;
	margin-top: 10px;
    width: 100%;
}

.confirm_chose:before{
	position: relative;
	content: "";
	width: 17px;
	height: 17px;
	background: url(../EPO/images/checkbox-image.svg) no-repeat left center;
}

.confirm_chose span{
	display: inline;
    width: auto;
	padding: 0!important;
	font-size: 12px;
	border-bottom: 1px dotted #204a89;
}

.event_list_item{
	position: relative;
	z-index: 3;
	background-color: #fff;
	margin-top: 10px;
    padding: 0;	
	text-align: left;
	-webkit-transition: all .20s ease;
	-o-transition: all .20s ease;
	-moz-transition: all .20s ease;
	transition: all .20s ease;
}

.event_list_item:first-child{
	margin-top: 0;
}

.event_list_item:hover{
	box-shadow: 1px 1px 11px rgba(0,0,0,0.3);
	-webkit-transition: all .20s ease;
	-o-transition: all .20s ease;
	-moz-transition: all .20s ease;
	transition: all .20s ease;
}

.events_list_wrapp{
	position: relative;
	background-color: #fff;
	z-index: 3;
	padding:0;
	padding-top: 20px;
}

.date_reg_event_info_wrapp{
	padding-right: 0;
}

.event_tag, .event_begin, .event_end{
	padding-top: 15px;
	text-transform: uppercase;
	color: #959595;	
	text-align: left;
	font-size: 11px;
	letter-spacing: 1.5px;	
	font-weight: 600;	
}

.event_tag{
	padding-left: 0;
}

.event_tag span{
	margin-right: 20px;
    display: block;
    float: left;
    font-size: 11px;
	letter-spacing: 1.5px;
}

.event_tag span:last-child{
	margin-right: 0;
}

.event_begin{
	border-left: 1px solid #e8ecf3;	
}

.event_title a{
	color: #404040;	
	font-weight: 700;
	font-size: 20px;
}

.time_block_part{
	font-size: 11px;
	text-transform: uppercase;
	color: #404040;
	font-weight: 500;
    	line-height: 22px;
    	letter-spacing: 1px;
	padding-bottom: 10px;
}

.time_block_part_one{
	border-left: 1px solid #e8ecf3;	
}

.time_block_part span{
	display: block;
	width: 100%;
	font-size: 28px;
	font-weight: 600;
	line-height: 30px;
}

.events_reg_status{
	padding: 15px 0 15px 15px;	
	border-left: 1px solid #e8ecf3;	
	border-top: 1px solid #e8ecf3;			
	float: right;
	text-align: left;
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.events_reg_status:before,
.events_reg_status:after{
	content: "";
	width: 15px;
	height: 1px;
	background: white;
	position: absolute;
	top: -1px;
}

.events_reg_status:before{
	left:0;
}

.events_reg_status:after{
	right: 0;
}

.event_reg_closed{
	color: #f1cf23;
}

.event_reg_open{
	color: #4caf50;
}

.load_more{
	position: relative;
	cursor: pointer;
	margin: 20px 0;	
	padding: 10px 0;
	background-color: #fff;
	z-index: 3;
	font-weight: 700;
	color: #404040;
	text-align: center;
	box-shadow: 1px 1px 11px rgba(0,0,0,0.3);
}

.load_more i{
	font-size: 18px;
    position: relative;
    top: -1px;
    margin-right: 5px;
}

.events_list_fill{
	background-color: #f4f6f9;
	position: absolute;
    top: 0;
    width: 20000px;
    left: -5000px;
    height: 100%;
    z-index: 1;
}
/* end */
/*==========================================*/

/*==========================================*/
/* Страница отдельного события */
/*==========================================*/
.single_event_main_wrapp{
	position: relative;
	padding-top: 30px;
}


.single_event_fill{
	background-color: #f4f6f9;
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25000px;
    left: -7000px;
    z-index: 1;
}

.single_event_date_time_wrapp{
	position: relative;
	float: left;
	z-index: 3;
	width: 25%;
}

.single_event_date_time_wrapp *{
	padding: 0;	
}

.back_to_events_list{
	position: relative;
	width: auto;
	text-align: left;
	z-index: 3;
	line-height: 20px;
	padding-left: 0;
	padding-right: 0;
}

.back_to_events_list span{
	color: #204a89;
	border-bottom: 1px dashed #204a89;
	font-size: 12px;
}

.back_to_events_list i{
	color: #355c95;
	margin-right: 7px;
	font-size: 12px;
}

.single_event_date_time{
	display: table;
	margin-top: 20px;
	padding: 20px;
	box-shadow: 1px 1px 11px rgba(0,0,0,0.3);
	text-align: left;
	background-color: #fff;
}

.single_event_begin, .single_event_end{
	color: #bababa;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
}

.single_event_date_time .time_block_part_one{
	border: 0;
}

.timetable_block{
	padding-top: 16px;
	padding-bottom: 26px;	
	color: #bababa;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.timetable_block span{
	display: block;
	width: 100%;
	color: #404040;
	font-weight: 600;
}

.single_reg_status_block{
	padding-top: 20px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;	
	text-transform: uppercase;	
	letter-spacing: 1.5px;
	border-top: 1px solid #e8ecf3;	
}

.single_event_info{
	position: relative;
	float: right;
	width: calc( 75% - 16px );
	top: 5px;
	left: 0;
	z-index: 3;
}

.single_event_info .event_tag{
	padding: 0;	
} 

.event_title {
	padding: 14px 0;
    color: #404040;
    font-weight: 700;
    font-size: 26px;
	line-height: 26px;
    text-align: left;
}

.single_event_content {
	padding: 0;
	padding-right: 80px;
	text-align: left;
	color: #404040;
	font-size: 13px;
}

.single_event_content p{
	margin: 10px 0;
	font-size: 13px;
	line-height: 18px;
}

.single_event_content ul{
	margin-top: -10px;
}

.single_event_content li{
	margin: 11px 0;
	padding-left: 10px;
	font-size: 13px;
}

.single_event_reg_step{
	text-align: left;
	padding: 27px 0;
}

.page-template-single_event_page .single_event_reg_step{
	border-bottom: 1px solid #e8ecf3;
}
.page-template-single_event_page .single_event_reg_step_info{
	border: 0;
	border-bottom: 1px solid #e8ecf3;
}
.page-template-single_event_page .company_stuffs_block{
	border: 0!important;
}
.single_event_reg_steps_wrapp{
	margin-top: 20px;
	background-color: #fff;
	padding: 30px 50px 15px 50px!important;
	margin-bottom: 40px;
	position: relative;
    z-index: 3;
}

.single_event_step_title{
	padding-bottom: 20px;
	font-size: 18px;
	font-weight: 500;
	color: #404040;	
}
.page-template-een_page .single_event_step_title{
	padding-bottom:0;
}

.single_event_participant{
	position: relative;
	margin: 5px;
	padding: 5px 10px;
	border: 1px solid #e8ecf3;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}

.event_participant{
	width: calc( 50% - 10px );
}

.participant_photo_block{
	float: left;
	width: 46px;
    height: 46px;
    margin: 3px 9px 0 0;
    border-radius: 50%;
}

.participant_name_block{
	float: left;
	width: calc(100% - 75px);
	margin-top: 6px;
	padding-right: 40px;
	font-size: 14px;
	color: #404040;
	font-weight: 700;
}

.participant_position_block{
	float: left;
	width: calc(100% - 75px);
	color: #d4d4d4;
	font-size: 12px;
}

.empty_participant{
	cursor: pointer;
	padding: 16px 0;
	border: 1px dashed #d4d4d4;
	text-align: center;	
	text-transform: uppercase;
	font-weight: 700;		
	color: #d4d4d4;
	font-size: 14px;
}

.empty_participant img{
	width: 27px;
    height: 27px;
    position: relative;
    top: -2px;
}

.chevron_wrapp{
	cursor: pointer;
	height: 100%;
    width: 50px;
    border-left: 1px solid #e8ecf3;
    position: absolute;
    right: 0;
    top: 0;
}

.chevron_wrapp i{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    cursor: pointer;
    color: #aaaaaa;
}

.single_event_participant_info .col-md-5, .single_event_participant_info .col-md-7{
	text-align: right;	
	margin: 10px 0;
	overflow-x: hidden;
}

.single_event_participant_info .col-md-5{
    position: relative;
    top: 9px;
    font-size: 13px;
}

.single_event_participant_info .col-md-7{
	text-align: left;
}


.info_icon{
	width: 13px;
    height: 13px;
    font-size: 9px;
    line-height: 10px;
    border-radius: 50%;
    border: 1px solid #acacac;
    display: inline-block;
    text-align: center;
    color: #acacac;
    padding-top: 1px;
    position: relative;
    top: -1px;
    cursor: pointer;
}

.single_event_participant_info input,
.main_info_about_user input {
    margin-top: 0;
    padding: 9px;
    border: 1px solid #aaaaaa;
    font-size: 13px;
}
.single_event_reg_step_info{
	padding: 0;
	padding-top: 20px;
	border-top: 1px solid #e8ecf3;
}
.single_event_reg_step_info_no_border{
	border: 0!important;
}
.page-template-een_page .single_event_reg_step_info{
	padding: 0;
	padding: 27px 0;
	border-bottom: 1px solid #e8ecf3;
}

.single_event_participant_info, .single_event_reg_steps_wrapp {
	padding: 0;	
}

.single_event_participant_info .user_info_feedback_input{
	padding-left: 0;
}

.single_event_participant_info .user_info_feedback_input .pluss_icon {
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 10px;
    padding: 0;
}

.single_event_participant_info .user_info_feedback_input .text_after_plus_icon {
	cursor: pointer;
    	float: left;
    	font-size: 12px;
    	margin-top: 9px;
    	margin-bottom: 9px;
    	padding: 0;
    	color: #204a89;
    	border-bottom: 1px dotted;
}

.info_save_icons{
	text-align: right;
	color: #404040;
    font-weight: 700;
    margin: 15px 0 5px 0;	
}

.info_save_icons i{	
	cursor: pointer;
	position: relative;
	top: -2px;
	margin-right: 7px;
}

.info_save_icons .info_icon{
	margin: 22px 0px;
	top: -2px;
	color: #204a89;
	border: 1px solid #204a89;
	margin-right: 10px;
}

.info_save_icons .save_event_canges{
	cursor: pointer;	
	float: right;
	padding: 15px 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    border: 2px solid rgba(240,240,240,0.8);
	font-size: 14px;
	margin-bottom: 5px;
}
.page-template-een_page .save_event_canges{
	width: 90%;
	text-align: center;
	color: #404040!important;
	margin-bottom: 0!important;
}
.info_save_icons .save_event_canges .fa{
	font-size: 12px;
}

.single_event_reg_step_company{
	margin-bottom: 0px;
	border-bottom: 0!important;
}

.single_event_reg_step_info_company{
	border-top: 0;
	padding-top: 0;
	margin-bottom: 0;
}

.single_event_reg_step_info_company .company_info_year_input{
	width: 80px!important;
	min-width: 80px!important;
	padding: 0;
	margin: 10px 0;
}

.about_company_place{	
	padding: 0;
	margin: 15px 0; 
	text-align: left!important;	
}

.about_company_place select,
.company_stage_select select{
	width: 180px!important;
	min-width: 180px!important;
	cursor: pointer;
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(http://projects.make-web.org/epo/wp-content/themes/EPO/images/select-arrow.png) no-repeat right #fff;
    background-position-x: 100%;
}

.about_company_place .jq-selectbox.jqselect,
.company_stage_select .jq-selectbox.jqselect{
	width: 180px!important;
	min-width: 180px!important;
	cursor: pointer;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(http://projects.make-web.org/epo/wp-content/themes/EPO/images/select-arrow.png) no-repeat right #fff;
    background-position-x: 100%;
}

.company_stage_select{
	padding: 0;
	margin: 10px 0;
}

.about_company_place_city{	
	padding: 0;
	margin: 10px 0; 
	text-align: left!important;	
}

.about_company_place_city select{
	width: 100%!important;
	min-width: 100%!important;
	cursor: pointer;
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.about_company_place_city .jq-selectbox.jqselect{
	width: 100% !important;	
}

.about_company_place_city .jq-selectbox__select{
    width: 200px!important;	
}

.user_info_company_workplace_blocks .col-md-5{
	margin-top: 0!important;
}
.user_info_company_workplace_select .jq-selectbox__select{
	width: 232px;
	max-width: 232px;	
}

.user_info_company_workplace_blocks .jq-selectbox__select{
	background-position-x: 93%!important;
	padding-right: 30px!important;
}

.user_info_company_workplace_blocks .jq-selectbox__dropdown{
	margin-top: 41px !important;	
}

.company_inputs_block .jq-selectbox.jqselect{
	width: 100% !important;
	max-width: 100% !important;	
}

.user_info_company_workplace_select_aside{
	margin-bottom: 20px;	
}

.user_info_company_workplace_select_aside .jq-selectbox__select{
	width: 100% !important;
	max-width: 100% !important;	
	background-position-x: 95%!important;
	padding-right: 30px!important;
}

.user_info_company_workplace_select_aside .jq-selectbox__dropdown{
	margin-top: 0px !important;	
	width: 100% !important;	
}

#index{
	margin: 5px 0;
}

.single_event_participant_info .user_info_email_blocks{
	margin-top: 20px;
}

.participant_company_info .pluss_icon, .participant_company_info .text_after_plus_icon{
	margin-top: 0!important;
}

.single_event_reg_step_info  .col-xs-4{
		padding-left: 0;	
	}

.single_event_participant_info .col-md-12{
	padding-right: 0!important;
	padding-left: 0!important;
}

.single_event_participant_info input.col-md-12{
	padding-left: 10px!important;
}

.single_event_reg_step_info_company .company_info_year_input select{
	padding: 10px !important;
}

.user_info_feedback_input {
	padding: 0;
}

.company_textarea_blocks,
.company_select_blocks{
	position: relative;
	padding: 0;
}

.company_textarea_blocks .col-md-5{
	text-align: right;
	font-size: 13px;	
}

.first_company_textarea{
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #e8ecf3;
}

.company_textarea{
	min-height: 80px;
	resize: vertical;
	padding: 5px 15px;
	padding-bottom: 15px;
	border: 1px solid #aaaaaa;
	border-radius: 2px;
	text-align: left!important;
	font-size: 13px;
}

.company_textarea::-webkit-scrollbar-button { 
	width: 3px; 
	height:0px 
}  

.company_textarea::-webkit-scrollbar-track { 
	background-color:#e8ecf3; 
}

.company_textarea::-webkit-scrollbar-thumb { 
	-webkit-border-radius: 2px; 
	border-radius: 2px; 
	background-color:#204a89; 
	background-position:center; 
	background-repeat:no-repeat; 
}  

.company_textarea::-webkit-resizer{ 
	background-repeat:no-repeat; 
	width:3px; 
	height:0px 
} 

.company_textarea::-webkit-scrollbar{ 
	width: 3px; 
}

.char_counter_wrapp{
	position: absolute;
    right: -5px;
    bottom: 3px;
    color: #bababa;
    padding: 10px;
}

.char_counter_wrapp span,
.char_count{
	font-size: 10px;
}

.single_event_reg_step_questions{
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #e8ecf3;
	margin-bottom: 15px;
	padding-bottom: 15px;	
	border-bottom: 1px solid #e8ecf3;
}

.big_reg_button{
	padding: 15px 0!important;
	background: #1b3583!important;
	text-transform: none!important;	
	font-weight: 600!important;
	color: #fff!important;
	font-size: 16px !important;
	margin-left: 0!important;	
	margin-right: 0!important;	
}

.popup_for_add_participant{
	position: fixed;
	display: none;
	width: 494px;
	left: 50%;
	margin-left: -247px;
	padding-bottom: 20px;
	background: #fff;
    z-index: 1020;
}

.popup_for_add_participant_title{
	position: relative;
	font-size: 18px;
	font-weight: 500;
	padding: 12px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #e8ecf3;	
}

.popup_for_add_participant_title img{
	cursor: pointer;
	position: absolute;
	width: 37px;	
	right: 17px;
	top: 6px;
}

.popup_participant_item_block{
	display: table;
	position: relative;
	width: calc(100% - 40px);
	padding: 10px;
	margin: 0 20px;
	border: 1px solid #e8ecf3;	
	border-top: 0;
}

.popup_for_add_participant .popup_participant_item_block:nth-child(2){
	border-top: 1px solid #e8ecf3;
}

.popup_add_participant_photo_block{
	width: 43px;
	height: 43px;
	border-radius: 50%;	
	float: left;
}

.popup_add_participant_name_block, .popup_add_participant_position_block{
	width: calc(100% - 60px);
	margin-left: 10px;
	padding-right: 45px;
    text-align: left;
    float: left;
}

.popup_add_participant_name_block{
	font-weight: 700;
	font-size: 14px;
}

.popup_add_participant_position_block{
	font-size: 12px;
	font-weight: 600;
	color: #bbbbbb;
}

.popup_add_participant_check_block{
	cursor: pointer;
	position: absolute;
    height: 100%;
    right: 0;
    width: 45px;
    top: 0;
    padding: 19px 0;
    border-left: 1px solid #e8ecf3;	
}

.popup_add_participant_check_block span:before{
	content: "\2713";
	color: #204a89;
}

.add_participant_popup_disable_chack span:before{
	color: #d2dbe7;
}

.warning_massege_block{
	position: relative;
	margin: 8px 20px 6px 20px;
	padding: 7px;
	padding-left: 35px;
	text-align: left;
	color: #f1cf23;
	background: #fdfae9;
	border: 1px solid #f1cf23;	
	font-size: 12px;
}

.warning_massege_block i{
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 10px;
}

.warning_massege_block a{
	color: #f1cf23;
	text-decoration: underline;
	font-size: 12px;
}

.popup_for_add_participant input[type="button"]{
	width: calc(100% - 38px);
	padding: 15px 0;
	border: none!important;
	margin-top: 13px!important;
    margin-bottom: 0!important;
    text-transform: none!important;    
    font-weight: 600!important;
}
/* end */
/*==========================================*/


/*==========================================*/
/* Страница списка услуг */
.services_page_main_wrapp{
	margin-bottom: 70px;
}

.services_page_title{
	font-size: 22px;
	font-weight: 700;
	padding: 22px 0;
	text-align: left;
	border-bottom: 1px solid #e8ecf3;
}

.services_list_wrapp{
	position: relative;
	background-color: #fff;
	padding: 0;
}

.services_list_wrapp .service_list_item:first-child{
	border-top: 0;
	padding-top: 27px;
}

.service_list_item{
	position: relative;
	display: block;
	padding: 27px 15px 27px 0px;
	text-align: left;
	border-bottom: 1px solid #e8ecf3;
	z-index: 3;
	background-color: #fff;
}
.service_list_item:nth-child(6){
	border-bottom: none;
}
.service_list_item:after{
	content:"";
	display: block;
	width: 45px;
	height: 2px;
	background: white;
	position: absolute;
	bottom: -1px;
	right: 0;
}

.service_list_item_title{
	padding-bottom: 15px;
	font-size: 20px;
	font-weight: 600;
}

.service_list_item_desc{
	display: table;
	padding: 0;
	margin-bottom: 15px;
	font-size: 13px;
	padding-right: 40px;
}

.service_list_item_desc p{
	margin: 0;
	padding-bottom: 15px;
	font-size: 13px;
	line-height: 16px;
}

.link_on_single_service_page{
	display: table;
	padding: 16px 32px;
	border-radius: 3px;
	background: #204a89;
	font-weight: 500;
	color: #fff;
	font-size: 14px;
}

.link_on_single_service_page:hover{
	color: #fff;
}

.link_on_single_service_page:visited{
	color: #fff;
}

.services_page_company_aside .company_info_box{
	display: none;
}

.services_page_company_aside .logged_user{
	display: block !important;
}

.services_page_company_aside .logged_user .company_info_box{
	display: block!important;
	min-height: 102px;
}
/* end */
/*==========================================*/

/*==========================================*/
/* Страница услуги */
.single_service_head a{
	margin-right: 13px;
}

.service_single_page_title {
	width: 100%;
}

.service_single_page_title span{
    position: relative;
    top: 3px;
    font-size: 20px;
    color: #404040;
    font-weight: 700;

}

.service_single_page_description{
	width: 100%;
    position: relative;
    padding: 0 50px;
    margin: 0;
    margin-top: 4px;
    font-size: 13px;
    line-height: 16px;
    color: #bababa;
}

.company_greeting_wrap .service_learn_more, .company_greeting_wrap input {
    cursor: pointer;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    background-color: #fff;
    border-radius: 0;
    border: 0 !important;
    font-weight: 500;
    color: #bababa;
    text-transform: uppercase;
    -webkit-transition: all .20s ease;
    -o-transition: all .20s ease;
    -moz-transition: all .20s ease;
    transition: all .20s ease;
}

 .company_greeting_wrap input, .delet_this_collegue_confirm input{
 	border-bottom: 1px dashed #fff!important;
 }

.company_greeting_wrap .service_learn_more{
	position: absolute;
	bottom: 10px;
	right: 0;
	padding-right: 20px;
	text-align: right;
	-webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    -moz-transition: all .15s ease;
    transition: all .15s ease;
    font-size: 11px;
    letter-spacing: 1px;
}

.company_greeting_wrap .service_learn_more:hover{
	color: #204a89;
	-webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    -moz-transition: all .15s ease;
    transition: all .15s ease;
}

.selection_user_bloks_wrapp{
	display: none;
    width: 100%;
    position: absolute;
    background: #fff;
    z-index: 100;
    left: 0;
    top: 0;
}

.user_block_in_selection .single_event_participant{
	margin: 0;
	padding: 10px;
}

.user_block_in_selection .single_event_participant:hover{
	cursor: pointer;
	background: #e8ecf3;
}

.user_block_in_selection .single_event_participant:hover .participant_name_block{
	color: #204a89;
}

.services_test_questions_wrapp .col-md-5{
	text-align: right;	
	margin-bottom: 20px;
	font-size: 13px;
}

.services_test_questions_wrapp .col-md-7{
	margin-bottom: 20px;
	padding-right: 0;
}

.services_test_questions_wrapp .col-md-7 input{
	width: 100%;
	text-align: left;
	padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.services_test_block{
	padding: 0;
}

.services_test_block .filter_item{
	width: 100%;	
	border: 0;
	margin: 0;	
}

.services_test_block .filter_item .filter_chosen_item{
	clear: none;
	float: left;
	margin-right: 30px;	
}

.services_test_block .filter_item .filter_chosen_item:first-child{
	margin-top: 0;	
}

.services_test_block .filter_item .filter_chosen_item span{
	margin-left: 0;
}

.services_test_block .filter_chosen_item label{
	width: 40px;	
	color: #bababa;
	font-size: 13px;
}

.single_service_select select{
	cursor: pointer;
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
	width: 220px;
}

.single_service_select .jq-selectbox__select{
	width: 220px;
}

.service_additional_comments{
	display: table;
	width: 100%;
	padding-top: 20px;
	border-top: 1px solid #e8ecf3;
}

.service_additional_comments .company_textarea{
	resize: vertical;
	font-size: 13px;	
}

.watch_test_results{
	float: right;
	width: 100%;
	padding: 14px 30px!important;
	margin: 20px 0!important;
    background: #1b3583!important;
    text-transform: none!important;
    font-weight: 600!important;
    color: #fff!important;
    font-size: 15px !important;
    text-align: center !important;
    margin-bottom: 10px;
    border-radius: 2px;
}
.page-template-readiness_assessment_page .watch_test_results{
	width: auto;
}
.service_learn_more_popup{
	display: none;
	position: fixed;
    background: #fff;
    z-index: 1200;
    text-align: left;    
    width: 80%;
    margin: 0 auto;
    max-width: 780px;
    left: 50%;
    margin-left: -390px;
}

.service_learn_more_popup img{
	cursor: pointer;
	width: 36px;
    position: absolute;
    right: 16px;
    top: 9px;
}

.service_learn_more_popup_title{
	text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8ecf3;
}

.service_learn_more_popup_content{
	padding: 0 20px;
	font-size: 13px;
}

.service_learn_more_popup_content p{
	margin: 0;
	margin-bottom: 5px;
	font-size: 13px;
}
.service_learn_more_popup_content ul{
	margin: 15px 0 15px 25px;
}


.service_learn_more_popup_content li{
	margin-bottom: 10px;
	font-size: 13px;
}

.order_service_button, .sourcing_service_save{
	width: 100%;
	float: right;
	padding: 15px 0!important;
    background: #1b3583!important;
    text-transform: none!important;
    font-weight: 600!important;
    color: #fff!important;
    font-size: 16px !important;
    margin-left: 0!important;
    margin-right: 0!important;
    text-align: center !important;
    margin: 15px 0 25px 0;
}

.page-template-checking_idea_page .order_service_button,
.page-template-mentorstvo_page .order_service_button,
.page-template-internationalization_business_page .order_service_button{
	margin-top: 25px;
}

.full_workers_service, .company_turnover_service{
	padding: 0;
	margin: 7px 0;
}

.full_workers_service .col-xs-4, .company_turnover_service .col-xs-6{
    padding-left: 15px;
    padding-top: 10px;
}

.company_main_info{
	resize: vertical;
}

.sourcing_check label:before{
	top: 5px;
}

.single_service_page_company_aside{
	margin-top: 0;
}

/* Страница EEN */
.een_page_step_block{
	border-top: 0;
}

.een_page_menu ul{
	text-align: left;
	margin: 0;
	border-top: 1px solid #e8ecf3;
	margin-top: -1px;
}

.een_page_menu ul li{
	text-align: left;
	display: inline-block;
	margin: 0 16px;
	padding: 16px 0;
}

.een_page_menu ul li:first-child{
	margin-left: 0;
}

.een_page_menu ul li a{
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;	
	text-decoration: none;	
	color: #bababa;
}

.een_page_menu ul .active_een_menu_item{
	border-top: 1px solid #204a89;
	border-bottom: 1px solid #204a89;
}

.een_page_menu ul .active_een_menu_item a{
	color: #404040;
}

.een_page_details_list textarea{
	resize: none!important;
	border: 1px solid #aaaaaa;
	height: 78px;
	margin: 10px 0;
	font-size: 13px;
	padding: 5px 9px 20px 9px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.een_page_details_list textarea::-webkit-scrollbar-button { 
	width: 3px; 
	height:0px 
}  

.een_page_details_list textarea::-webkit-scrollbar-track { 
	background-color:#e8ecf3; 
}

.een_page_details_list textarea::-webkit-scrollbar-thumb { 
	-webkit-border-radius: 2px; 
	border-radius: 2px; 
	background-color:#204a89; 
	background-position:center; 
	background-repeat:no-repeat; 
}  

.een_page_details_list textarea::-webkit-resizer{ 
	background-repeat:no-repeat; 
	width:3px; 
	height:0px 
} 

.een_page_details_list textarea::-webkit-scrollbar{ 
	width: 3px; 
}

.een_page_details_list2 textarea{
	resize: none!important;
	border: 1px solid #aaaaaa;
	height: 78px;
	font-size: 13px;
	padding: 5px 9px 20px 9px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.een_page_details_list2 textarea::-webkit-scrollbar-button { 
	width: 3px; 
	height:0px 
}  

.een_page_details_list2 textarea::-webkit-scrollbar-track { 
	background-color:#e8ecf3; 
}

.een_page_details_list2 textarea::-webkit-scrollbar-thumb { 
	-webkit-border-radius: 2px; 
	border-radius: 2px; 
	background-color:#204a89; 
	background-position:center; 
	background-repeat:no-repeat; 
}  

.een_page_details_list2 textarea::-webkit-resizer{ 
	background-repeat:no-repeat; 
	width:3px; 
	height:0px 
} 

.een_page_details_list2 textarea::-webkit-scrollbar{ 
	width: 3px; 
}

.een_page_details_list select {
    width: 200px!important;
    min-width: 200px!important;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(http://projects.make-web.org/epo/wp-content/themes/EPO/images/select-arrow.png) no-repeat right #fff;
    background-position-x: 100%;
}

.after_annual_turnover{
	padding: 19px 4px;
	font-size: 13px;
}

.attechment_block_wrapp{
	display: table;
	width: 100%;
	padding: 20px 30px;
    background: #e8ecf3;
    border: 1px dashed #bababa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.attechment_block_wrapp .upload_part_block:nth-child(2){
	float: right;
	text-align: right;
}

.adapt_text_upload_button{
	display: none;
}

.attechment_block_wrapp .upload_part_block input{
	margin: 0;
	background: #fff!important;
	color: #404040!important;
	font-weight: 500 !important;
	border: 2px solid #d5d5d5; 
}

.een_save_icons{
	padding: 0;
}

.een_save_icons{
	display: table;
}
.een_save_blocks{
	display: table-cell;
	vertical-align: middle;
}
.een_save_blocks_first{
	width: 70%;
}
.een_save_icons .save_event_canges{
	cursor: pointer;
    float: right;
    padding: 15px 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid rgba(240,240,240,0.8);
    font-size: 14px;
    margin-bottom: 5px;
}

/* Страница благодарности */
.page-template-thanks_order_service .site-content,
.page-template-thanks_order_service{
	background-color: #f4f6f9;
}
.thanks_page{
	margin: 50px 0;
	margin-top: 0;
}

.thanks_block_image_ok{
	width: 90px;
	margin: 0 auto;
}
.thanks_block_text_ok{
	margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.thanks_block_sub_text_ok{
	margin-bottom: 50px;
	font-size: 13px;
}

.thanks_block_wrapp{
	margin-top: 60px;
}

.thanks_block_wrapp .thanks_link_block:nth-child(4){
	position: relative;
	left: 50px;
}

.thanks_block_wrapp .thanks_link_block:nth-child(5){
	position: relative;
	left: 50px;
}

.thanks_link_block img{
	float: right;
	width: 10px;
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.thanks_link_block i{
	position: relative;
	top: 5px;
	float: left;
	margin-right: 5px;
	font-size: 12px;
}

.thanks_link_block a span:nth-child(1){
	float: right;
}

.thanks_link_block span{
	float: left;
	display: table;
	border-bottom: 1px dashed #204a89;
	font-size: 12px;
}

.company_full_workers_input .col-xs-2{
	padding-top: 10px;
}

.thanks_fill_block{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f4f6f9;
}

/* страница результатов тестирования */
.company_testing{
	margin-bottom: 50px;
}

.testing_page_head {
	padding-left: 0;
	padding-bottom: 20px;
    position: relative;
    z-index: 3;
    background: #fff;
}

.testing_page_title{
	text-align: left;
	font-weight: 700;
	font-size: 20px;
	padding-top: 20px;
	padding-left: 0;
}

.testing_page_sub_title{
	text-align: left;
	color: #bababa;
	font-size: 13px;
	padding: 0;
}

.testing_page_head_result_block{
	position: absolute;
	right: 0;
	width: 110px;
	height: 110px;
	color: #fff;
	padding: 25px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.testing_page_head_result_block span{
	font-size: 20px;
	font-weight: 600;
}
.testing_page_head_result_block span:last-child{
	display: block;
	font-size: 16px;
}

.test_info_wrapp{
	background-color: #fff;
}

.test_info_wrapp, .company_testing .user_company_info{
	padding-left: 0px;
	padding-top: 0px;	
	border-top: 1px solid #e8ecf3;	
	position: relative;
    z-index: 3;
}

.company_testing .user_company_info{
	padding-left: 15px;
}

.company_testing .logged_worker_name_wrapp{
	display: table;
    padding: 10px;
    text-align: left;
    box-shadow: 1px 1px 11px rgba(0,0,0,0.3);
    width: 100%;
    background-color: #fff;
}

.testing_page_aside{
	padding-top: 15px!important;
}

.testing_page_main_content{
	padding-top: 25px!important;
	padding-bottom: 30px;
}

.company_testing .logged_worker_name_wrapp img{
	margin: 20px 0;
	margin-right: 15px;
}

.link_on_actual-date{
	width: 55%;
	float: left;
}

.link_on_actual-date a{
	color: #204a89;
	font-size: 14px;
	border-bottom: 1px dashed #204a89;
}

.link_on_actual-date .info_icon{
	color: #204a89;
	border-color: #204a89;
	margin-left: 5px;
}

.date_testing{
	position: absolute;
	right: 13px;
	bottom: 12px;
}

.date_testing i{
	margin-right: 10px;
}

.company_testing .logged_worker_name_wrapp hr{
	margin: 0!important;
	width: calc(100% + 20px)!important;
	margin-left: -10px!important;
	color: #e8ecf3!important;
}

.company_testing .user_info_block_title{
	text-align: left;
}

.testing_result_text_block{
	text-align: left;
	padding-bottom: 10px;
	padding-left: 0;
	background-color: #fff;
}

.testing_result_text_block:nth-child(12){
	border-bottom: 1px solid #e8ecf3;
	margin-bottom: 25px;
}

.testing_result_text_block_title{
	color: #404040;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.testing_result_text_block_content p{
	font-size: 13px;
	line-height: 16px;
}

.result_percents{
	display: inline-block;
	margin-left: 20px;
	font-size: 12px;
	width: 36px;
	padding: 2px 0;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #e8ecf3;
}

.test_page_bottom_links_item{
	display: table;
	float: left;
	padding-right: 20px;	
}

.test_page_bottom_links_item .print, .test_page_bottom_links_item .copy{
	cursor: pointer;	
	display: table;
	float: left;
	margin-left: 30px;
	font-size: 12px;
}
.test_page_bottom_links_item .print{
	margin-left: 0;
}
.test_page_bottom_links_item .home{
	display: table;	
	text-align: right;	
	position: absolute;
    right: 30px;
}

.test_page_bottom_links_item .home img{
	float: left;	
	position: relative;
	width: 10px;	
	top: 4px;	
	margin-right: 5px;	
}

.test_page_bottom_links_item .home span{
	display: table;
	float: left;	
	color: #204a89;
	border-bottom: 1px dotted #204a89;
	font-size: 12px;
}

.test_page_bottom_links_item .print i, .test_page_bottom_links_item .copy i{
	position: relative;	
	top: 5px;	
	margin-right: 3px;	
	color: #204a89;
	float: left;	
	font-size: 11px;
}

.test_page_bottom_links_item .print span, .test_page_bottom_links_item .copy span{
	display: table;
	float: left;	
	color: #204a89;
	border-bottom: 1px dotted #204a89;
	font-size: 12px;
}

/* Цвета результатов */
.very_bad_test_result{
	background: #f9492e;
}

.very_bad_test_result_text{
	color: #f9492e;
}

.bad_test_result{
	background: #e26651;
}

.bad_test_result_text{
	color: #f9492e;
}

.middle_test_result{
	background: #dfd537;	
}

.middle_test_result_text{
	color: #dfd537;
}

.better_middle_test_result{
	background: #b9b96b;
}

.better_middle_test_result_text{
	color: #b9b96b;
}

.good_test_result{
	background: #9fba6b;
}

.good_test_result_text{
	color: #9fba6b;
}

.perfect_test_result{
	background: #6ab96e;
}

.perfect_test_result_text{
	color: #6ab96e;
}

/* Галерея */
.services_carosel_title{
	padding: 20px 0;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

.owl-stage-outer{
	padding: 3px;
}

.services_carousel{
	width: 100%;
	min-height: 120px;
}

.services_carousel .owl-item{
	box-shadow: 0 0 7px rgba(0,0,0,0.1);
}

.owl-prev{
	position: absolute;
    top: -50px;
    right: 40px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #2e4686;
    background: white;
}

.owl-next{
	position: absolute;
    top: -50px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #2e4686;
    background: white;
}


.owl-prev img,
.owl-next img{
	height: 20px;
	margin-top: -2px;
}

.owl-prev img{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.corusel_item {
	width: 100%;
	height: 100px;
	padding: 10px 15px 15px 15px;
	background: #fff;
	text-align: left;	
}

.service_carousel_item_title{
	font-size: 14px;
	line-height: 18px;
	color: #404040;
	font-weight: 700;
	text-decoration: none !important;
	padding-bottom: 10px;
}

.service_carousel_item_description{
	height: 48px;
	overflow: hidden;
	font-size: 12px;
	line-height: 16px;
	color: #bababa;
	text-decoration: none !important;
}

.upload_part_block{
	display: table;
}
.upload_part_block_first{
	width: 40%;
}
.upload_part_block_second{
	width: 60%;
}
.upload_part_block .upload_block{
	display: table-cell;
	vertical-align: middle;
}
.upload_part_block_first .first_upload_block{
	width: 15%;
	text-align: center;
}
.upload_part_block_first .second_upload_block{
	padding-left: 15px;
	padding-right: 30px;
}
.upload_part_block_first .second_upload_block span,
.upload_part_block_second .first_upload_block span{
	font-size: 13px;
	line-height: 18px;
	color: #bababa;
}
.upload_part_block_first .first_upload_block img{
	width: 25px;
}
.upload_part_block_second .upload_block{
	width: 50%;
	padding: 12px 0;
}
.upload_part_block_label{
	width: 90%;
	margin: 0 auto;
}
.upload_part_block_label span{
	display: block;
    padding: 15px 0;
    text-align: center;
    background: white;
    font-weight: 700;
    font-size: 13px;
    border: 2px solid rgb(195,197,199);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
/* end */
/*==========================================*/

/*==========================================*/
/* Футер */
footer{
	position: relative;
	background: #fff!important;
	margin-top: 50px;
	z-index: 3;
}

footer .container{
	position: relative;
	padding: 0 8px;	
}

footer .col-md-3{
	text-align: left;
	background: #fff!important;
	border: 1px solid #e8ecf3;
	border-bottom: 0;
	border-top: 0;
	color: #404040;
    font-weight: 500;
}

footer .company-details{
	border-left: 0;
	padding-top: 40px;
}
footer .footer_logo_box{
	padding-top: 14px!important;
}
footer .footer_address{
	width: 210px;
	padding-right: 10px !important;
}

footer .copyright{
	width: 280px !important;
}

footer .footer_email, footer .footer_phone{
	width: 180px !important;
}

.company-details {
    padding: 0 10px;
    padding-top: 32px;
    padding-bottom: 20px;
    height: 100px;
}

.company-details div{
	font-size: 13px!important;
}

.zerif-footer-phone{
	text-align: center;
	padding-top: 10px;
}

.zerif-footer-email{
	padding-left: 10px;
}

.footer_logo_box{
	position: relative;
    z-index: 100;
	width: 220px;
    text-align: right;
	padding: 10px;	
	height: auto;	
	padding-bottom: 3px;
	border-right: 1px solid #e8ecf3;
}

.footer_logo_box img{
	float: right;
	max-width: 125px;
}

.social{
	margin-bottom: 0 !important;
	text-align: center;
}

.social li {
    padding: 5px;
    margin: 5px 10px;
    background: #e8ecf3;
    width: 30px;
    height: 30px;
    text-align: center;
}

.social i{
	color: #204a89;
}

.social i.fa:hover{
	color: #204a89;
}

#behance{
	position: relative;
    top: -1px;
}

.fa-issuu{
	margin-top: -2px;
	color: #204a89!important;
}

.dynamic_copyright{
	display: block;
	color: #204a89;
	padding: 11px 0;
	font-size: 11px;
	padding-bottom: 0;
}

.scroll_top_arrow{
	position: relative;
	cursor: pointer;
	padding-top: 21px;
	float: left;
	width: 60px;
	padding-right: 0 !important;
}

.scroll_top_arrow img{
	position: relative;
	top: 50%;
	float: right;
}
/*==========================================*/
.main_info_about_user input{
	border-radius: 2px !important;	
}

.inputs_blocks input{
	background: #f1f1f1;
	padding-left: 10px!important;
}



/* Eugene's Styles */
.error_data{
	display: none;
	position: absolute;
	top: 40px;
	left: 140px;
	color: red;
	font-size: 11px!important;
	text-align: left!important;
}
.sidebar-info{
	background-color: white;
	text-align: left;
}
.sidebar-info__worker,
.sidebar-info__company{
	padding: 10px;
	border-bottom: 1px solid #e8ecf3;
}
.sidebar-info__company:after{
	content: "";
	display: block;
	clear: both;
}
.sidebar-info__worker .worker-name{
	font-size: 14px;
	font-weight: 700;
}
.sidebar-info__worker .worker-position{
	font-size: 12px;
	color: #d4d4d4;
}
.sidebar-info__worker .worker-phone{
	font-size: 12px;
	font-weight: 600;
	margin-top: 13px;
}
.sidebar-info__worker .worker-email{
	font-size: 12px;
	font-weight: 600;
	margin-top: 5px;
}
.company-block-image{
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.company-block-image img{
	max-width: 100%;
	max-height: 100%;
}
.company-block-info{
	float: left;
	margin-left: 10px;
	width: calc( 100% - 60px );
}
.company-block-info .company-block-info__name{
	font-size: 14px;
	font-weight: 700;
}
.company-block-info .company-block-info__phone{
	font-size: 12px;
	margin-top: 2px;
	color: #d4d4d4;
}
.actual-info{
	padding: 10px;
}
.actual-info:after{
	content: "";
	display: block;
	clear: both;
}
.actual-info__link{
	float: left;
	line-height: 16px;
}
.actual-info__link a{
	font-size: 12px;
	border-bottom: 1px dotted #2e4686;
}
.actual-info__date{
	float: right;
	line-height: 16px;
}
.actual-info__date span,
.actual-info__date i{
	font-size: 12px;
	color: #d4d4d4;
}
.actual-info__date span{
	padding-left: 5px;
}

.search-partner{
	margin: 20px 0;
	padding: 20px 55px;
	background-color: white;
}
.search-partner__title{
	font-size: 20px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 20px;
}
.search-partner__info{
	margin-top: 15px;
	font-size: 12px;
	text-align: left;
	color: #a9a9a9;
}

.search-partner__navigation ul{
	text-align: left;
	margin: 0;
	border-top: 1px solid #e8ecf3;
	border-bottom: 1px solid #e8ecf3;
	margin-top: -1px;
}

.search-partner__navigation ul li{
	text-align: left;
	display: inline-block;
	margin: 0 16px;
	padding: 16px 0;
}

.search-partner__navigation ul li:first-child{
	margin-left: 0;
}

.search-partner__navigation ul li a{
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;	
	text-decoration: none;	
	color: #bababa;
}

.search-partner__navigation ul .search-partner__item_active{
	border-top: 1px solid #204a89;
	border-bottom: 1px solid #204a89;
}

.search-partner__navigation ul .search-partner__item_active a{
	color: #404040;
}
.search-partner__form{
	margin: 20px 0;
}
.search-partner__input{
	width: 100%;
	text-align: left;
}
.search-partner__results{
	margin: 20px 0;
	padding: 10px;
	border: 1px solid #e8ecf3;
}
.search-partner__results .list-kved{
	margin-left: 0;
}
.add_industry{
	position: relative;
	top: -3px;
	left: 58px;
	font-size: 12px;
	font-weight: 400;
    border-bottom: 1px dotted #2e4686;
}
.chart-mobile{
	display: none;
	overflow-x: auto;
}
.chart-mobile .chart-titles{
	position: relative;
}
.chart-mobile .chart-title{
	position: absolute;
	bottom: 0;
	width: 150px;
	text-align: right;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	transform: rotate(270deg);
}
.chart-mobile .chart-title:nth-child(1){
	left:40px;
}
.chart-mobile .chart-title:nth-child(2){
	left:80px;
}
.chart-mobile .chart-title:nth-child(3){
	left:120px;
}
.chart-mobile .chart-title:nth-child(4){
	left:160px;
}
.chart-mobile .chart-title:nth-child(5){
	left:200px;
}
.chart-mobile .chart-title:nth-child(6){
	left:240px;
}
.chart-mobile .chart-title:nth-child(7){
	left:280px;
}
.chart-mobile .chart-title:nth-child(8){
	left:320px;
}
.chart-mobile .chart-title:nth-child(9){
	left:360px;
}

.chart-mobile .chart-dividing,
.chart-mobile .chart-dividing{
	display: none;
}
.chart-mobile .chart-title:nth-child(10){
	left:400px;
}
.chart-mobile .chart-title:nth-child(11){
	left:440px;
}
.chart{
	border-bottom: 1px solid #e8ecf3;
	margin-bottom: 25px;
	padding-bottom: 25px;
}
.chart:after{
	content: "";
	display: block;
	clear: both;
}
.chart .chart-data{
	list-style: none;
	display: block;
}
.chart .chart-dividing{
	width: 100%;
	height: 100%;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
}
.chart .chart-dividing__line{
	position: absolute;
	top: 0;
	height: 100%;
	width: 1px;
	border-right: 1px dashed #e8ecf3;
}
.chart .chart-dividing__line:nth-child(1){
	left: 10%;
}
.chart .chart-dividing__line:nth-child(2){
	left: 20%;
}
.chart .chart-dividing__line:nth-child(3){
	left: 30%;
}
.chart .chart-dividing__line:nth-child(4){
	left: 40%;
}
.chart .chart-dividing__line:nth-child(5){
	left: 50%;
}
.chart .chart-dividing__line:nth-child(6){
	left: 60%;
}
.chart .chart-dividing__line:nth-child(7){
	left: 70%;
}
.chart .chart-dividing__line:nth-child(8){
	left: 80%;
}
.chart .chart-dividing__line:nth-child(9){
	left: 90%;
}
.chart .chart-dividing__line:nth-child(10){
	left: 100%;
}
.chart .chart-titles{
	float: left;
	width: 170px;
}
.chart .chart-title{
	position: relative;
	font-size: 13px;
	line-height: 18px;
	padding: 10px 10px 10px 0;
	margin-bottom: 3px;
	text-align: right;
}
.chart .chart-title:after{
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	right: 0;
	width: 80px;
	height: 1px;
	background-color: #e8ecf3;
}
.chart .chart-block{
	float: left;
	width: calc( 100% - 170px );
	margin-bottom: 30px;
	background-color: #f4f6f9;
	box-shadow: inset 6px 5px 10px -7px rgba(0,0,0,0.2);
}
.chart .chart-block__inner{
	position: relative;
	width: 92%;
	padding: 10px 0;
}
.chart .chart-block ul{
	margin: 0;
	padding: 0;
}
.chart .chart-data__bar{
	position: relative;
	height: 20px!important;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	margin-bottom: 21px;
}
.chart .chart-data__percent{
	position: absolute;
	display: block;
	right: -45px;
	width: 35px;
	font-size: 12px;
	text-align: center;
	padding: 1px 0;
	background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.chart .chart-data__bar:nth-child(1){
	background-color: #e26651; 
}
.chart .chart-data__bar:nth-child(2){
	background-color: #f9492e; 
}
.chart .chart-data__bar:nth-child(3){
	background-color: #6ab96e; 
}
.chart .chart-data__bar:nth-child(4){
	background-color: #6ab96e; 
}
.chart .chart-data__bar:nth-child(5){
	background-color: #6ab96e; 
}
.chart .chart-data__bar:nth-child(6){
	background-color: #e36652; 
}
.chart .chart-data__bar:nth-child(7){
	background-color: #dfd537; 
}
.chart .chart-data__bar:nth-child(8){
	background-color: #b9b96b; 
}
.chart .chart-data__bar:nth-child(9){
	background-color: #ded759; 
}
.chart .chart-data__bar:nth-child(10){
	background-color: #de8959; 
}
.chart .chart-data__bar:nth-child(11){
	background-color: #dea259; 
}
.chart .chart-data__bar:nth-child(12){
	background-color: #dad577;
	margin-bottom: 0;
}
.chart .chart-grade{
	list-style: none;
	position: relative;
	z-index: 2;
}
.chart .chart-grade__percent{
	position: absolute;
	top: 20px;
	width: 30px;
	font-size: 11px;
	text-align: center;
	margin-left: -10px;
}
.chart .chart-grade__percent:nth-child(1){
	left: 0%;
}
.chart .chart-grade__percent:nth-child(2){
	left: 10%;
}
.chart .chart-grade__percent:nth-child(3){
	left: 20%;
}
.chart .chart-grade__percent:nth-child(4){
	left: 30%;
}
.chart .chart-grade__percent:nth-child(5){
	left: 40%;
}
.chart .chart-grade__percent:nth-child(6){
	left: 50%;
}
.chart .chart-grade__percent:nth-child(7){
	left: 60%;
}
.chart .chart-grade__percent:nth-child(8){
	left: 70%;
}
.chart .chart-grade__percent:nth-child(9){
	left: 80%;
}
.chart .chart-grade__percent:nth-child(10){
	left: 90%;
}
.chart .chart-grade__percent:nth-child(11){
	left: 100%;
}

.list-kved{
	list-style: none;
	text-align: left;
	margin-left: 25px;
}
.list-kved ul{
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 25px;
	margin-top: 8px;
}

.list-kved li.list-kved__item{
	cursor: pointer;
    line-height: 20px;
    padding: 5px 0;
}
.list-kved .list-kved__item .list-kved__point{
	float: left;
	margin-top: 2px;
	margin-right: 10px;
	width: 16px;
	height: 16px;
	fill: #404040;
}
.list-kved li.compress > .list-kved__point,
.list-kved li.compress-choose > .list-kved__point{
	background: url("images/plus.svg") no-repeat 0px -3px;
	background-size: 16px;
}
.list-kved li.expand-choose > .list-kved__point{
	background: url("images/check.svg") no-repeat 0px -3px!important;
	background-size: 15px!important;
}
.list-kved li.compress-choose:hover > .list-kved__title{
	text-decoration: underline!important;
}
.list-kved li.expand-choose > .list-kved__title{
	color: #2e4686!important;
	font-weight: 500;
}
.list-kved li.expand > .list-kved__point{
	background: url("images/minus.svg") no-repeat 0px -3px;
	background-size: 16px;
	fill: #404040;
}
.list-kved li.compress:hover > .list-kved__title{
	text-decoration: underline!important;
	color: #2e4686;
}
.list-kved li.expand > .list-kved__title{
	color: #2e4686!important;
	font-weight: 500;
	text-decoration: none;
}
.list-kved li.list-kved__item span.list-kved__title{
	font-size: 13px;
	color: #404040;
}
.list-kved li.list-kved__item.expandable > li.list-kved__item span.list-kved__title{
	color: #2e4686;
}
.nopadding{
	padding: 0!important;
}

@media screen and (min-width: 768px){
	.navbar-brand{
		margin-left: -13px!important;
	}
}
@media screen and (max-width: 767px) {
	.een_save_blocks{
		display: table-row!important;
		width: 100%!important;
	}
	.page-template-een_page .save_event_canges{
		font-size: 12px!important;
		width: 100%!important;
	}
	.watch_test_results{
		font-size: 12px!important;
	}
	.jq-selectbox,
	.jq-selectbox__select,
	.user_info_company_workplace_select .jq-selectbox__select{
		width: 100%!important;
		max-width: 100%!important;
	}
	.company_dash_block{
		margin-bottom: 15px!important;
	}
	.about_company_place .jq-selectbox.jqselect, .company_stage_select .jq-selectbox.jqselect{
		width: 100%!important;
		max-width: 100%!important;
	}
	.service_list_item_desc{
		padding-right: 0;
	}
}