.head_stripe {
	float: left;
	padding: 15px;
}

.head_stripe h2 {
	color: #497DCA;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    margin-left: 110px;
}

.widget-ourfocus .focus-box .service-icon {
	width: 75px;
	height: 75px;
	float: left;
}

.focus-box p {
	text-align: right;
}

.focus-box .service-icon {
	display: block;
	margin-bottom: 30px;
	width: 145px;
	height: 145px;
	margin: auto;
	border-radius: 50%;
	/*	border: 10px solid #ececec;*/
	margin-bottom: 20px;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width: 75px;
	height: 75px;
	float: left;
}

#zerif_clients-widget-9 img {
	max-width: 140px;
}

i.pixeden {
	width: 70% !important;
	height: 70% !important;
}

.serv-icon {
	width: 65px;
	height: 65px;
	float: left;
	margin-bottom: 30px;
    margin-right: 15px;
}

.widget-ourfocus p {
	text-align: left;
}

.serv-name {
	color: #404040;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.serv-description {
	font-size: 14px;
    color: #808080;
    margin-bottom: 20px;
}

.widget-ourfocus {
    margin-bottom: 20px;
}

@media (max-width: 1999px) {
	.serv-icon {
    	margin-bottom: 60px;
    }

    .serv-description {
    	margin-bottom: 5px;
	}
}
@media (max-width: 991px) {
	.serv-icon {
    	margin-bottom: 0px;
    }
        .serv-description {
    	margin-bottom: 20px;
    }
}

@media (max-width: 491px) {
	.serv-icon {
    	margin-bottom: 10px;
    }
        .serv-description {
    	margin-bottom: 25px;
    }
}

@media (max-width: 373px) {
	.serv-icon {
    	margin-bottom: 35px;
    }
        .serv-description {
    	margin-bottom: 50px;
    }
}

@media (max-width: 320px) {
	.serv-icon {
    	margin-bottom: 55px;
    }
        .serv-description {
    	margin-bottom: 70px;
    }
}

@media (max-width: 1199px) {
	.head_stripe h2 {
	    margin-left: 40px;
	}
}

@media (max-width: 991px) {
	.head_stripe h2 {
	    margin-left: 0px;
	    font-size: 20px;
	}
}

@media (max-width: 767px) {
	.head_stripe h2 {
	    margin-left: 0px;
	    font-size: 18px!important;;
	}
}

.company-details {

    padding-top: 10px;

}